.container {
    clear: both;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.search {
    margin: 0;
    height: 42px;
    padding-right: 35px;
    padding-left: 15px;
    position: static;
    color: #fff;
    border: none;
    border-radius: 10px;
}